.cloned-input {
    width: 93%;
}

.cloned-input-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.add-btn {
    margin: 0;
}

.margin-20 {
    margin-bottom: 20px;
}

.cloned-input-wrapper input:last-of-type {
    margin-bottom: 0;
}
