.hide {
    display: none;
}

.dashboard-filter-button {
    margin-top:45px;
}
@media only screen and (max-width: 768px) {
    .dashboard-filter-button {
        margin-top:15px;
    }
}

.loader_upload {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: rgb(0 0 0 / 0.6);
    height: 100%;
    z-index: 9999;
}

.loader_upload .line-scale-pulse-out {
    transform: translate(-50%, -50%);
    top: 50%;
    position: absolute;
    left: 50%;
    padding: 20px 20px;
    background: white;
    border-radius: 6px;
}

.center {
    text-align: center;
}

.highlight {
    background: #f7e7d3;
    min-height: 30px;
    list-style-type: none;
}

.handle {
    min-width: 18px;
    background: #fff;
    display: inline-block;
    cursor: move;
    margin-right: 10px;
    width: 100%;
    padding: .75rem 1.25rem;
}
.handle:hover, .handle:focus{
    background: #f1f3f4;
}
.list-group-item{
    padding: 0;
    margin-bottom: 10px;
}

.dd-handle {
    height: 35px;
}
